{% extends "WXRCommonBundle::base.html.twig" %}

{% block body %}

    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
    {% block navbar_before %}
                <a class="brand"><img src="{{ asset('bundles/wxrcommon/img/logo-wxr_36x20-white.png') }}" alt="WXR studios" /></a>
    {% endblock %}
    {% block navbar %}
                <div class="nav-collapse">
        {% block navbar_menu %}{% endblock %}
                </div>
    {% endblock navbar %}
    {% block navbar_after %}{% endblock %}
            </div>
        </div>
    </div>

    <div class="container">

    {% block content_before %}
        {% include "WXRCommonBundle::alerts.html.twig" %}
    {% endblock %}

    {% block content %}{% endblock %}

    {% block content_after %}{% endblock %}

        <hr />

        <footer>
    {% block footer_before %}{% endblock %}
    {% block footer %}
            <p class="copyright">{% block copyright %}&copy; WXR studios {{ 'now'|date('Y') }}{% endblock %}</p>
    {% endblock footer %}
    {% block footer_after %}{% endblock %}
        </footer>

    </div>

{% endblock body %}
