{% extends "WXRCommonBundle::admin_base.html.twig" %}

{% block body %}

    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
            <a class="brand" href="{{ path('wxr_admin_dashboard') }}">{% block brand %}Admin{% endblock %}</a>
            <div class="nav-collapse">
                {{ knp_menu_render('WXRCommonBundle:Builder:adminMenu') }}
            </div>
            </div>
        </div>
    </div>

    <div class="container">

        {% include "WXRCommonBundle::alerts.html.twig" %}

        {% block content %}{% endblock %}

        <hr />

        <footer>
            <p>{% block copyright %}&copy; WXR studios {{ 'now'|date('Y') }}{% endblock %}</p>
        </footer>

    </div>

{% endblock %}
